.criipto-signatures {
  --primary-rgb: 128, 0, 128 !important; /* Change the primary color of the UI to purple. */
  background-color: bisque;
}


button[data-testid="document_reject_button"] {
  background-color: green;
  border: 2px solid darkred; 
  color: white;
}

button.button--danger {
  transform: scale(1.05);
}