.criipto-signatures {
  --primary-rgb: 128, 0, 128 !important; /* Change the primary color of the UI to purple. */
  background-color: bisque;
}

body {
  background-color: whitesmoke !important; 
}

button[data-testid='document_reject_button'] {
  background-color: green;
  border: 2px solid darkred;
  color: white;
}

button.button--danger {
  transform: scale(1.05);
}

button[data-testid='document_reject_button']::before {
  content: 'Reject';
}


button[data-testid='document_reject_button']::before {
  content: 'Reject';
}


.criipto-eid-btn--no-bankid.criipto-eid-btn--no-bankid-mobile {
  content: 'Norwegian BankID';
}

.criipto-verify-button.criipto-eid-btn--no-bankid::after,
.criipto-verify-button.criipto-eid-btn--no-bankid-mobile::after {
  content: 'Norwegian BankID';
}

.criipto-verify-button.criipto-eid-btn--no-bankid span,
.criipto-verify-button.criipto-eid-btn--no-bankid-mobile span {
  display: none; 
}