.criipto-signatures {
  --primary-rgb: 128, 0, 128 !important; /* Change the primary color of the UI to purple. */
  background-color: bisque;

  &.criipto-eid-btn--no-bankid, &.criipto-eid-btn--no-bankid-mobile {
  background-color: green !important;
  /* color: red !important; */
  content: 'NORWEGIAN BANKID' !important;
}
}

body {
  background-color: whitesmoke !important; 
}

button[data-testid='document_reject_button'] {
  background-color: green;
  border: 2px solid darkred;
  color: white;
}

button.button--danger {
  transform: scale(1.05);
}

button[data-testid='document_reject_button']::before {
  content: 'Reject';
}


button[data-testid='document_reject_button']::before {
  content: 'Reject';
}


.criipto-eid-btn--no-bankid.criipto-eid-btn--no-bankid-mobile {
  background-color: green !important;
  /* color: red !important; */
  content: 'NORWEGIAN BANKID' !important;
}

.criipto-verify-button.criipto-eid-btn--no-bankid::before,
.criipto-verify-button.criipto-eid-btn--no-bankid-mobile::before {
  background-color: green !important;
  content: 'NORWEGIAN BANKID' !important;
}