body {
  background-color: #f9f9ff;
}

body {
  background-size: cover;
  background-position: center;
  background-image: url('./casino-bg.png');
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  #headline#headline {
    margin-left: 30px;
    margin-bottom: 20px;
  }
}

#headline .lang span {
  display: none;
}

.criipto-eid-selector .criipto-eid-btn.criipto-cancel-btn {
  background: white;
}
