body {
  background-color: #f9f9ff;
  background-size: cover;
  background-position: center;
  background-image: url('./casino-bg.png');
  background-repeat: no-repeat;
  height: 100vh;
}

#headline .lang span {
  display: none;
}

/* .criipto-eid-selector a.criipto-verify-button.criipto-eid-btn {
  width: 342px !important;
} */
.criipto-eid-selector {
  width: 342px !important;
}

a.criipto-verify-button.criipto-eid-btn {
  width: 342px !important;
}
